h1{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #43545C;

}
button{
    width: 200px;
    height: 65px;
    margin-left: 2.7%;
    border-radius: 20px;
    margin-top: 2%;
    background-color: #F8FAFD;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.12);
    border: none;
}
input{
    width: 20px;
    height: 20px;
    margin-left: -65%;
    
}
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%; /* deixa arredondado */
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}
input[type='checkbox']:checked {
  background-color: #b81919;
  border-color: #b81919;
}
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    background: #b81919;
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.75rem;
    box-shadow: 0 4px 0 rgba(0,0,0,0.12);
    width: 210px;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    margin-top: 5.5%;
  }
  
  .confirm-btn:hover {
    background: #a31515; /* tom mais escuro para o hover */
    color: #fff;
    box-shadow: 0 6px 12px rgba(184,25,25,0.18);
    transition: background 0.15s, box-shadow 0.15s;
  }
  .confirm-btn:hover {
    background-color: #981522;
    border-color: #bd2130;
  
    
  }
  .grupo-botões{
    overflow-y: auto;
    max-height: 360px;
  }