#link_img a.frasco_img img{
  width: 100px;
  position: relative;
  margin-top: 20px;

}
#link_img a.relogio_img img{
  width: 221px;
  position: relative;

}
#link_img a.prancheta_img img{
  width: 138px;
position: relative;
}
 #link_img{
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #F8F8F8;
 }
 button.button_agendar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: black;
  width: 150px ;
  height: 40px;
  margin-left: 660px;
  background-color: #80E96D;
  border-radius: 5%;
  border: 0cap;
 }
 #body h1.cadastrar_agendamento{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 20px;
 }

 #link_area{
  position: absolute ;
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  align-items: center;
  margin-left: 310px;
  

 }