/* Estilo para o botão de dropdown de salas */
#dropdownMenuButton {
    background-color: #f8f9fa; /* Cor de fundo semelhante à tela */
    border: 1px solid #ced4da; /* Borda leve */
    border-radius: 10px; /* Bordas arredondadas */
    color: #000; /* Cor do texto */
    font-size: 140%; /* Tamanho da fonte */
    padding: 15px -5%; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    width: 15%;
    height: 60px;
    
    
    
    
    
}


/* Estilo para os botões de horários */
.lista-horarios .list-group-item {
    background-color: #fff; /* Cor de fundo branca */
    border: 1px solid #ced4da; /* Borda leve */
    border-radius: 0px; /* Bordas arredondadas */
    color: #000; /* Cor do texto */
    font-size: 108%; /* Tamanho da fonte */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 0px; /* Espaçamento entre os botões */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    width: 500px;
    font-family: 'Roboto Slab', serif;
    

    
    
}

/* Estilo para o botão de horários ao passar o mouse */
.lista-horarios .list-group-item:hover {
    background-color: #e9ecef; /* Cor de fundo ao passar o mouse */
    border-color: #adb5bd; /* Cor da borda ao passar o mouse */

}

/* Estilo para o título "Horários" */
.titulo-horarios {
    font-family: 'Roboto Slab', serif;
    font-size: 180%; /* Tamanho da fonte */
    font-weight: bold;
    color: #43545C; /* Cor do texto */
    text-align: right; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    margin-top: -570px;
    width: 10%;
    margin-left: 71%;
    
}

.lista-horarios{
    overflow-y: auto;
    max-height: 498px;
    width: 10%;
    max-width: 520px;
    margin-left: 65%;
    
    
}

.list-group{
    width: 100%;
}

i{
    margin-left: 35%;
    font-size: 30px;
    font-weight: bold;
    
}

#primeio-da-lista {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 3%;


}
#ultimo-da-lista {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.container{
    margin: 0%;
}



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: #f8f9fa;
    --calendar-font-color: #000000;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #ffffff;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #000000;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    font-family: 'Roboto Slab', sans-serif;
    position: relative;
    max-width: 750px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin-left: 10%;
    margin-top: 5%;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
    height: 500px;
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

