 #materiais_e_reagentes a.frasco_img img{
  width: 100px;
  margin-top: 45px;
 
  
  
  

}
#sala_e_horario a.relogio_img img{
  width: 221px;
 
  
  

}
#seleção_de_kits a.prancheta_img img{
  width: 138px;
 
  margin-top: 45px;
}

 button.button_agendar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: black;
  width: 150px ;
  height: 40px;
  margin-left: 660px;
  background-color: #80E96D;
  border-radius: 5%;
  border: 0cap;
 }
 #body h1.cadastrar_agendamento{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 20px;
 }

 #link_area{
 
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  align-items: center;
  margin-left: 310px;
  

 }
 #materiais_e_reagentes{
  padding-top: 50px;
  padding-left: 100px;
  background-color: #F8F8F8;
 }
 #sala_e_horario{
  padding-left: 40px;
  padding-top: 50px;
  background-color: #F8F8F8;
 }
 #seleção_de_kits{
  padding-left: 100px;
  padding-top: 50px;
  background-color: #F8F8F8;
 }
