/* Resetando estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif; /* Usando a fonte Arial para o corpo */
  background-color: white;
}

/* Container principal */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

/* Título principal */
h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #43545c;
  font-family: "Roboto Slab", serif;
}

/* Área de agendamento */
#agendamento_area {
  margin-top: 4%;
  padding: 2%;
}

/* Layout responsivo para os links */
#link_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}

/* Botões */
#link_area .btn {
  position: relative;
  display: flex; /* Flexbox para alinhar o conteúdo dentro do botão */
  flex-direction: column; /* Organiza o conteúdo em coluna */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  padding: 3%;
  padding-bottom: 16%;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  background-color: #ebe9e9;
  border: none;
  border-radius: 3%;
  text-decoration: none;
  margin-bottom: 5%;
  margin-top: 8%;
  cursor: pointer;
  width: 23%;
  min-height: 12rem;
  overflow: hidden;
  text-align: center; /* Centraliza o texto no botão */
}

/* Hover nos botões */
#link_area .btn:hover {
  background-color: #d6d6d6;
}

/* Alinhamento do texto nos botões */
#link_area .btn span {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  color: #43545c;
}

/* Imagens */
.img-geral {
  max-width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
  align-self: center; /* Garante que as imagens ficam no centro dentro do botão */
}

/* Alinhamento do texto */
#link_area .btn span {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  color: #43545c;
}

/* Imagens específicas */
.img-relogio {
  position: absolute;
  max-width: 95%;
  right: 0%;
  bottom: 0%;
}

.img-frasco {
  position: absolute;
  max-width: 40%;
  right: 0%;
  bottom: 0%;
}

.img-prancheta {
  position: absolute;
  max-width: 55%;
  right: 0%;
  bottom: 0%;
}

/* Botão de agendamento */
#agendamento_button .btn-success {
  display: inline-block;
  padding: 1% 3%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #c22626;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#agendamento_button .btn-success:hover {
  background-color: #630b0b;
}

/* Responsividade */
@media (max-width: 768px) {
  #link_area {
    flex-direction: column;
    align-items: center;
  }

  #link_area .btn {
    width: 90%;
    padding: 10% 12% 14% 12%;
  }

  #link_area .btn span {
    font-size: 1.75rem;
  }
}

/* Responsividade de imagens */
@media (max-width: 1116px) {
  .img-relogio {
    max-width: 100%;
  }

  .img-frasco {
    max-width: 40%;
  }

  .img-prancheta {
    max-width: 55%;
  }
}

/* A partir de 861px */
@media (max-width: 861px) {
  .img-geral {
    display: none; /* Oculta as imagens em telas menores que 861px */
  }

  #link_area {
    flex-direction: column;
    align-items: center;
  }

  #link_area .btn {
    width: 90%; /* Faz o botão ocupar 90% da largura da tela */
    display: flex; /* Usando flexbox para alinhar o conteúdo dentro do botão */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    text-align: center; /* Centraliza o texto dentro do botão */
    height: auto; /* Deixa a altura automática */
  }

  #link_area .btn span {
    font-size: 1.75rem; /* Ajuste de tamanho de fonte */
  }
}
