/* Reset básico */
html, body {
    height: 100%;
    margin: 0;
}

/* Centralizar o container #login na tela */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Estilo do container do login */
#login {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgba(194, 38, 38, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

/* Estilo dos campos que envolvem inputs e ícones */
.campo-email,
.campo-senha {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 0 0 20px 0;
    border-radius: 10px;
    background-color: #fafafa;
}

/* Ícones */
.icone-email,
.icone-senha {
    width: 37px;
    height: 37px;
    margin-right: 0px;
    background-color: #c22626;
    border-radius: 20%;
    object-fit: contain;
}

/* Inputs */
.campo-email input,
.campo-senha input {
    flex: 1; /* Para ocupar o máximo de espaço possível */
    font-size: 1.1rem; /* tamanho do texto */
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Input senha maior */
.campo-senha input {
    font-size: 1.1rem; /* um pouco maior que o email */
}

/* Botão */
button.Botao {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #c22626;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Hover no botão */
button.Botao:hover {
    background-color: #9e1b1b;
}
